.sectionStartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  margin: 48px 0;
}

.imageContainer {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-start;
}

.sectionImage {
  max-width: 100%;
}

.sectionTitle {
  display: flex;
  flex: 3;
  align-items: center;
  justify-content: center;
}

.secTitle {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Merriweather", sans-serif;
  text-align: center;
  color: #0C0C0C;
  font-size: 48px;
  width: 100%;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .secTitle {
    font-size: 1em;
  }
  .sectionStartContainer {
    margin: 16px 0;
  }
}